@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.firstContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/HD wallpaper_ Pokémon, Latias, Latios, pixels, video games, sky, nature.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

.formContainer{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: #FFD460;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    border: 2px solid black;
}

.typeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkBoxsContainer{
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.eachType{
    margin:10px;
}

.error{
    color: red;
    height: 10px;
}

.icon{
    font-size: 80px;
    &:hover{
        cursor: pointer;
    }
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 20px;
    border-radius: 20px;
    background-color: yellow;
    font-weight: bold;
    &:hover{
        background-color: greenyellow;
        cursor: pointer;
    }
}

@media (max-width:640px){
    
    .formContainer{
        width: auto;
    }
    
}