.background{
    background-image: url('../../assets/detailfondo.png');
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.firstContainer{
    width: 50%;
    height: 100%;
    left: 0;
}

.secondContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}

.imagen{
    height: 407px;
    margin-left: 25%;
}
.typesContainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.nameContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 80px;
    &:hover{
        cursor: pointer;
    }
}

.everyDetailStyle{
    background: #2D4059;
    border-radius: 20px;
    padding: 20px;
    color: yellow;
}