.background{
    display: flex;
    background-image: url('../../assets/detailfondo.png');
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100%;
}

.firstContainer{
    position: relative;
    width: 50%;
    height: 100%;
    left: 2;
}

.secondContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}

.imagen{
    height: 407px;
    margin-left: 20%;
}
.typesContainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.nameContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 80px;
    &:hover{
        cursor: pointer;
    }
}

.everyDetailStyle{
    background: #2D4059;
    border-radius: 20px;
    padding: 20px;
    color: yellow;
}

@media (max-width:640px){
    .background{
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .imagen{
        height: 200px;
    }
    .icon{
        font-size: 40px;
    }
    .firstContainer{
        background-color: rgba(45, 64, 89, 0.5);
        margin: 10px;
        width: 95%;
        height: 100%;
        left: 0;
    }
    .secondContainer{
        margin: 10px;
        grid-gap: 20px;
        background-color: rgba(45, 64, 89, 0.5);
    }
    .everyDetailStyle{
        background: transparent;
        border-radius: 20px;
        padding: 20px;
        color: yellow;
    }
    .nameDiv{
        background-color: red;
    }
  }