@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.searchBarContainer {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  height: 100px;
}


.gif {
  border-radius: 200px;
  border: 2px solid black;
  position: relative;
  width: 100px;
  height: 100px;
  right: 20px;
  top: 10px;
}

.button {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #FFD700;
  font-weight: bolder; /* Amarillo más intenso */
  &:hover{
    cursor: pointer;
    background-color: #FFC400; /* Color más claro al hacer hover */
  }
}

.icon {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  margin: 20px;
  &:hover{
    cursor: pointer;
  }
}

.iconContainer{
  width: 50px;
}

.input{
  font-size: larger;
}

@media (max-width: 640px){
  .searchBarContainer{
    height: 60px;
    width: auto;
  }
  .button{
    display: flex;
    width: auto;
    font-size: x-small;
    padding: 5px;
    margin: 10px 5px 5px 5px;
  }
  .gif{
    margin-left: 40px;
    width: 80px;
    height: 65px;
  }
  .input{
    font-size: medium;
    margin-top: 10px;
  }
  .icon {
    font-size: medium;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconContainer{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}