.pokemonsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    /* overflow: hidden; */
}

.paginatedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homeContainer{
    background-image: url('../../assets/HD\ wallpaper_\ Pokémon\,\ Latias\,\ Latios\,\ pixels\,\ video\ games\,\ sky\,\ nature.jpg');
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
}
