.pokemonsContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .paginatedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .homeContainer {
    background-image: url('../../assets/HD wallpaper_ Pokémon, Latias, Latios, pixels, video games, sky, nature.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  .selector,
  .boton {
    margin: 10px; 
    padding: 10px;
  }

  .filtersContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .noPokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
  }