.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.paginatedContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #93B5C6;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
}

.numbers{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
@media (max-width:640px){
  .numbers{
    font-size: medium;
  }
}

.button{
    margin: 10px; 
    padding: 10px;
  }