.landingBackground{
  display: flex;
    background-image: url('../../assets/descarga.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}